@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

/* BASE STYLES */
:root {
    --primary-color: steelblue;
    --secondary-color: #1b206e;
    --backing-color: #f9f9f9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Poppins", sans-serif;
    color: #111;
}
